{
    "rules": {
        "indent": [
            2,
            2,
            {"SwitchCase": 1}
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "never"
        ],
        "yoda": [2, "always", { "onlyEquality": true }],
        "curly": [
            2,
            "multi-or-nest",
            "consistent"
        ]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": ["react-app"],
    "plugins": [
        "react",
        "jsx-a11y",
        "class-property"
    ],
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "jsx": true,
            "classes": true,
            "modules": true,
            "spread" : true,
            "restParams" : true,
            "impliedStrict": true,
            "experimentalObjectRestSpread": true
        }
    }
}
